<h2>Case 1: Mapping colors</h2>

<p>
    The incoming data is a simple array with color names (strings). Modify case1.controller.js to
    change the output into the following formats:
</p>

<hr>

<h3>Uppercase ($scope.colorsUppercase)</h3>
<p>Output each color name entirely in uppercase</p>

<section class="solution" check-solution="colorsUppercase" name="colorsUppercase">
    <span ng-repeat="color in colorsUppercase">{{color}} </span>
</section>

<hr>

<h3>Length of color ($scope.colorLenghts)</h3>

<p>Turn each color into a key-value pair (object) where the key is the color name and the value is the
length of that name (e.g. <code> { "red": 3 } </code>)</p>

<ul class="solution" check-solution="colorLengths" name="colorLengths">
    <li ng-repeat="obj in colorLengths">
        <code>{{obj}}</code>
    </li>
</ul>

<hr>

<pretty-json name="colors" data="rawdata"></pretty-json>
