<h2>Case 1: Mapping colors</h2>

<p>
    The incoming data is a simple array with color names (strings). Modify case1.controller.js to
    change the output into the following formats:
</p>

<hr>

<h3>Uppercase ($scope.colorsUppercase)</h3>
<p>Output each color name entirely in uppercase</p>

<section class="solution" check-solution="colorsUppercase" name="colorsUppercase">
    <span ng-repeat="color in colorsUppercase">{{color}} </span>
</section>

<hr>

<h3>Duplicate color names ($scope.colorsDouble)</h3>
<p>
    Use the <code>doubleString</code> helper function to duplicate the color name (e.g. "redred", "blueblue")
</p>

<section class="solution" check-solution="colorsDouble" name="colorsDouble">
    <span ng-repeat="color in colorsDouble">{{color}} </span>
</section>

<hr>

<h3>Length of color ($scope.colorLenghts)</h3>

<p>Turn each color into an object with two properties: the color name and the length of
    that name (e.g. <code> { "name": "red", "length": 3 } </code>)</p>

<ul class="solution" check-solution="colorLengths" name="colorLengths">
    <li ng-repeat="obj in colorLengths">
        <code>{{obj}}</code>
    </li>
</ul>

<hr>

<pretty-json name="colors" data="rawdata"></pretty-json>
