[ng-cloak] {
    display: none;
}

body {
    margin: 0 auto;
    width: 40em;
}

hr {
    border: 1px solid silver;
    margin: 1.5em 0;
}

.solution {
    background: #eef;
    padding: 1em;
    border: 1px solid #dde;
}

.solution.solved {
    background: #dfd;
    border-color: #cec;
}

.solution li {
    list-style-position: inside;
}

pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

/* pretty json */
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
